p{
  color: pink !important;
  background-color: aqua !important;
}

#paragrafo{
  color: brown;
  background-color: red;
}

#paragrafo{
  color: cadetblue;
}

.paragrafo{
  color: violet;
}

p{
  color: blue; 
}

p{
color: red;
}
